<html ng-app="ngTodo">
<head>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
<style>
	p{
		border: 2px solid red;
	}

</style>
</head>
<body>
<div ng-controller='mainController'>
<input type="text" placeholder="add title" ng-model="Todo.title">
<input type="text" placeholder="add detail" ng-model="Todo.detail">
<button ng-click="addwork(Todo.title, Todo.detail)">Add title</button>

<ul>
	<li ng-repeat="list in Todos">
	<h2>{{list.title}}</h2>	
	<p>{{list.details }}</p>
	<button ng-click="deletework(list)">Delete Work</button>

	</li>

</ul>
</div>

</ul>
</body>

</html>	