<html ng-app="ngTodo">
<head>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
	p{
		border: 0.5px solid black;
	}

</style>
</head>
<body>
<div ng-controller='mainController'>
<input type="text" placeholder="Search" ng-model="query">
<input type="text" placeholder="Add Title" ng-model="Todo.title">
<input type="text" placeholder="Add Details" ng-model="Todo.detail">
<button ng-click="addwork(Todo.title, Todo.detail)">Add title</button>

<ul>
	<li ng-repeat="list in Todos | filter: query">
	<h2>{{list.title | uppercase}}</h2>	
	<p font-style:"italic">{{list.details }}</p>
	<button class="btn btn-default btn-sm"  ng-click="deletework(list)"><span class="glyphicon glyphicon-trash">Delete Work</button>

	</li>

</ul>
</div>

</ul>
</body>

</html>	